
:root {
    --orange: #f36c21;
    --lightgray:  rgb(246, 246, 246);
}

.main_container,
.title_container, a  {
    display: flex;
}   

.title_container {
    background-color: var(--orange); 
    width: 70%;
    padding: 10px 0;
    margin-bottom: 20px;
    margin: 0 auto;
}


#logo {
    flex-direction: row;
    justify-content: flex-start;
}

#logo img {
    width: 80px;
    margin-left: 10px;
}

#matches_today,
.country_container,
.stscore_container, 
.score, .nomatches, a,
.event_container_home, 
.event_container_away {
    font-family: Arial, Helvetica, sans-serif;
}

#matches_today {
    font-size: 30pt;
    margin: 0 auto;    
    color: white;
    font-weight: bold;
    text-align: center;
}

.btn_container {
    display: block;
    
}

/*.btn_container a, */
#datepicker {
    background-color: white;
    color: var(--orange);
    margin: 5px;
    padding: 3px;
    width: 90px;
    text-align: center;
    font-weight: bold;
    border: 0px;
}

.txt-underline {
    text-decoration: underline;
    text-transform: uppercase;
}

a {
    background-color: black;
    color: black;
    padding: 10px;
    font-size: medium;
    text-decoration: none;
    margin: 0 10px;
}

.main_container,
.main_container_event,
 a {
    justify-content: center;
    width: 70%;
    margin: 10px auto;
    padding-bottom: 10px;
}

.main_container_event,
.main_container, 
.main_container a {
    background-color: var(--lightgray);
}

.main_container_event {
    padding: 5px;
    margin: 0 auto;
    position: relative;
}

.main_container_event div:nth-child(even) 
 {
    background-color: #eeeaea;
}

.country_container {
    width: 200px;
    text-align: center;
}

.flag_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

img {
    width: 150px;
    height: auto;
    
}

#type_pic {
    width: 20px;
    height: auto;
}

#ref {
    width: 25%;
    height: auto;
}

.stscore_container, 
.stscore_ref {
    margin-top: 3%;
    text-align: center;
    width: 200px;
}

.stscore_ref {
    display: flex;
    justify-content: center;
}

.score {
        font-weight: 500;
        font-size: 30pt;
        padding-top: 5%;
}

.red {
    color: red;
}

.event_container_home, 
.event_container_away {
    padding: 5px;
    justify-content: center;
    line-height: 1.8;
    margin-left: 5%;
}


.event_container_away 
{
    text-align: right;
    margin-right: 5px;
}


.nomatches {
    padding-top: 5%;
    text-align: center;
    font-style: italic;
}


@media (max-width: 900px) {

    .flag_container img {
        width: 125px;
    }
}

@media (max-width: 700px) {

    .title_container {
        width: 90%;
    }

    .main_container, 
    .main_container_event {
        width: 90%;
    }

    .flag_container img {
        width: 100px;
    }
}

@media (max-width: 450px) {

    #matches_today {
        font-size: 20pt;
    }

    .flag_container img {
        width: 75px;
    }

    a {
    margin: 0 5px;
    font-size: x-small;
    }

    .stscore_container {
        margin: 3%;
        width: 170px;
    }

    .score {
        padding-top: 25%;
    }
}